<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Berkeley Abroad</title>
  <meta name="description" content="Berkeley Abroad - I be traveling">
  <meta name="author" content="BerkeleyC">
  <meta name="theme-color" content="#6d597a">
  <meta name="keywords" content="BerkeleyAbroad,berkeleyabroad,berkelyabroad,repl.it,berkeley abroad">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/catloho.png" rel="icon" /> 
	<link href="seoul.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script src="seoul.js"></script>

  <div class="wrapper">
    <% (1..15).each do  %>
      <div class="flip"></div>
    <% end %>
  </div>
  <input placeholder="FLIP TEXT" type="text"></input>
  </body>
</html>